body {
    padding: 0px;
    margin: 0px;
}
html {
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #454545;
    height: 59px;
}

ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    padding: 0px;
}

input {
    display: flex;
    font-size: 24px;
    border: none;
}
button {
    border: none;
    padding: 10px;
}
a {
    text-decoration: none;
    color: white;
    padding: 16px 16px 16px 16px;
    font-size: 24px;
    transition: background-color 1s;
}
a:hover {
    background-color: #7f7f7f;
    transition: background-color 1s;
    cursor: default;
}
form {
    display: flex;
}
button {
    color: white;
    background-color: #7f7f7f;
    transition: background-color 1s;
}
button:hover {
    background-color: #a5a5a5;
    transition: background-color 1s;
    cursor: pointer;
}
.srchbar {
    padding: 10px;
    display: flex;
}
.header {
    text-align: center;
}
img {
    opacity: 0.5;
    transition: opacity 1s;
    padding-top: 25px;
    padding-bottom: 25px;
}
img:hover {
    opacity: 1;
    transition: opacity 1s;
}
.home {
    background-color: #2E8B57;
}
.home:hover {
    background-color: #3CB371;
}
hr {
    width: 100%;
    background-color: #454545;
}